#first-card {
    color: white;
    text-shadow: 2px 2px black;

    /* background: #fcf7f8; */
    font-family: 'Palatino, serif';
    background: rgba(0, 0, 0, 0);
    border: none;


}
#middle-card {
    color: white;
    text-shadow: 2px 2px black;

    font-family: 'Palatino, serif';
    background: rgba(0, 0, 0, 0);
    border: none;

    

}
#last-card {
    color: white;
    text-shadow: 2px 2px black;

    background: #fcf7f8;
    font-family: 'Palatino, serif';
    background: rgba(0, 0, 0, 0);
    border: none;


}

.card {
    /* color: black; */
    background: #fcf7f8;
    /* box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2); */
    padding: 2px 16px;
    font-family: 'Palatino, serif'

    
}



#homeContainer{
     background: rgba(0, 0, 0, 0.3); 
    border-radius: 30px; 
    /* text-shadow: 2px 2px black; */

}

#welcomeTitle {
    color:white;
    font-family: block-header;
    font-size: 70px;
}
.homeButtons {
    color:white;
    font-family: block-header;
    font-size: 50px;
}

.progress {
    height: 2rem;
    font-size: 1.5rem;

}

.mytopSection{
    /* background: rgba(0, 0, 0, .4); */
    border-radius: 30px;
}

.progressSection{
    /* background: rgba(0, 0, 0, .4); */
    border-radius: 30px;
    padding: 5px 
}