#first-card {
    color: black;
    background: #fcf7f8;
    font-family: 'Palatino, serif'

}
#middle-card {
    
    font-family: 'Palatino, serif';
    

}
#last-card {
    color: black;
    background: #fcf7f8;
    font-family: 'Palatino, serif'
    

}

.card {
    color: black;
    background: #fcf7f8;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    padding: 2px 16px;
    font-family: 'Palatino, serif'

    
}

#homeContainer{
    background: rgba(0, 0, 0, 0.5);
}

#welcomeTitle, .homeButtons {
    font-family: 'Palatino, serif'
}


