.leaderboard-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  grid-column: 2/4;
  grid-row: 1;
  margin: 2rem ;
}

td, th {
  border: 1px solid #DC3545;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgb(218, 114, 125);
}

.user-container {
  margin: 2rem 2rem;
  border: 1px solid #DC3545;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-container img {
  height: 12rem;
  width: 12rem;
  margin: .5rem;
  border-radius: 1rem;
}

.user-container h3 {
  margin: 0;
  padding: 1rem;
  font-size: 15px;
  text-align: center;
}
