.leaderboard-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 90vh;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  min-width: 25rem;;
  grid-column: 1/3;
  grid-row: 1;
  margin: 2rem 2rem 2rem 8rem;
  border-collapse: collapse;
  border-radius: .5rem;
  overflow: hidden;
  color: #BBBBC2;
}

td, th {
  text-align: left;
  padding: 8px;
  padding: 1em;
}

th {
  cursor: pointer;
}

tr {
  background-color: #000000;
}

tr:nth-child(even) {
  background-color: #DCB745;
  color: #ffffff;
}



.user-container {
  margin: 2rem 10rem 2rem -2rem;
  background-color: rgba(0, 0, 0, 0.393);
  color: #ffffff;
  border-radius: .5rem;
  grid-column: 4/4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-container img {
  height: 8.5rem;
  width: 8.5rem;
  margin: 1rem 2rem .5rem;
  border-radius: 50%;
}

.user-container div {
  margin: .2rem;
  padding: .2rem;
  font-size: 15px;
  text-align: center;
}

.user-container button  {
  background-color: #50B069;
  border-radius: .3rem;
  margin: .5rem .5rem 1rem;
  border: 1px solid #50B069;
}

.user-container a:visited {
  color: initial;
}

@media  screen and (max-width: 914px) {
  .leaderboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4.5rem;
    height: 100vh;
  }

  table {
    margin: 6rem 1rem 3rem;
  }

  .user-container {
    margin: 1rem;
  }
}
