.container-profile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10rem repeat(2, 1fr);
  height: 90vh;
}

.title {
  display: flex;
  width: 90%;
  justify-content: start;
  margin: 1rem auto 6rem;
  grid-column: 2/4;
  border-bottom: 1px solid;
  font-size: 24px;
  font-weight: 400;
}

.settings-container {
  border-radius: .5rem;
  grid-column: 1;
  border: 1px solid;
  margin: 1rem .5rem 0 10rem;;
  display: flex;
  justify-content: center;
  height: 85vh;
  width: 20vw;
}

.settings-header {
  padding: 8px 10px;
  display: flex;
  justify-content: start;
  margin: 0;
}