#first-card {
    background: rgb(255, 102, 0)
}
#middle-card {
    background: rgba(255, 153, 0, 0.815)
}
#last-card {
    background: rgb(76, 0, 255);
    

}

.card {
    color:white;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    padding: 2px 16px;
    
}

.card:hover { box-shadow: 0px 0px 4px 2px #5fff17}
