.feature-box:before {
  content: "";
  width: 1px;
  height: 170px;
  display: block;
  background: rgba(132, 140, 152, 0.125);
  opacity: 0.2;
  position: absolute;
  top: 30px;
  left: 50px;
}

#total{
  background-image: linear-gradient(to right,rgba(255, 165, 0, 0.8),rgba(255, 0, 0, 0.8)),url("../images/apartment.jpg");
  
  background-position: center;
  background-size: cover; /* Resize the background image to cover the entire container */
  
  background-blend-mode:darken;
  color:white;
  mix-blend-mode: multiply;
  text-shadow: 2px 2px black;
  


}

#one-card {
    background-color: white;
    
}

#two-card {
background-color: white
}

/* Container holding the image and the text */
.container2 {
    position: relative;
    text-align: center;
    color: #000000;
    margin: 2rem auto;
    max-height: 600px;


  }
  
  .landingP {
    font-size: 20px;
    text-shadow: 2px 2px black
    
  }
  /* Top left text */
  .top-left {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
  
  /* Top right text */
  .top-right {
   
    top: 8px;
    right: 16px;

  }

  #landingHeader{
    color:white;
    font-family: block-header;
    font-size: 70px;
  }

  .landingH3 {
        font-family: block-header;
        font-size: 35px;
  }
  
  
  /* Centered text */
  